.App {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page {
  display: flex;
  width: 1000px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.App-link {
  color: #61dafb;
}